In [92]:
import pandas as pd

In [93]:
#import flood data
df = pd.read_csv('History_Flood_Closures_with_Conditions.csv')
df.head()

,OBJECTID,IS_DRILL,STREET,REASON,TYPE,SOURCE,RoadClosureDate,RoadClosureEnd,INCIDENT_DATE,YEAR,...,MoonPhaseDesc,DailyPrecipitation_Downtown,DailyPrecipitationCat_Downtown,Fastest2minWindDir_Dwntwn,Fastest2minWindSpeed_Dwntwn,Fastest2minWindDirDesc_Dwntwn,FloodReason_6MIN,FloodReason_Day,EventName,Shape__Length
0,1,NaN,SEPTIMA P CLARK PKWY,FLOOD,CLOSED,Charleston PD,NaN,2017/09/12 03:45:00+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,5.971635
1,2,No,HAGOOD AVE,FLOOD,CLOSED,Charleston PD,NaN,2019/12/24 06:00:00+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,393.033425
2,3,NaN,COUNCIL ST,FLOOD,CLOSED,Charleston PD,NaN,2022/09/30 17:33:14+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,213.176533
3,4,NaN,BEAUFAIN ST,FLOOD,CLOSED,Charleston PD,NaN,2022/10/06 20:00:00+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,275.774018
4,5,NaN,FISHBURNE ST,FLOOD,CLOSED,Charleston PD,NaN,2019/02/20 10:00:00+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,552.914147

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   OBJECTID                        1541 non-null   int64
 1   IS_DRILL                        136 non-null    object
 2   STREET                          1540 non-null   object
 3   REASON                          1541 non-null   object
 4   TYPE                            1541 non-null   object
 5   SOURCE                          1540 non-null   object
 6   RoadClosureDate                 1515 non-null   object
 7   RoadClosureEnd                  1335 non-null   object
 8   INCIDENT_DATE                   1515 non-null   object
 9   YEAR                            1515 non-null   float64
 10  RoadClosureHours                1311 non-null   float64
 11  CommuteHours                    1541 non-null   object
 12  TideDate                        1514 non-null   object
 13  MinsUntilTide                   1514 non-null   float64
 14  FloodRisk                       1514 non-null   object
 15  NearestHighLowTide              1514 non-null   float64
 16  MaxTide                         1514 non-null   float64
 17  TideType                        1514 non-null   object
 18  Closest6MinTideHeight           1514 non-null   float64
 19  MoonPhase                       1514 non-null   float64
 20  MoonPhaseDesc                   1541 non-null   object
 21  DailyPrecipitation_Downtown     1514 non-null   float64
 22  DailyPrecipitationCat_Downtown  1514 non-null   object
 23  Fastest2minWindDir_Dwntwn       1501 non-null   float64
 24  Fastest2minWindSpeed_Dwntwn     1501 non-null   float64
 25  Fastest2minWindDirDesc_Dwntwn   1541 non-null   object
 26  FloodReason_6MIN                1541 non-null   object
 27  FloodReason_Day                 1541 non-null   object
 28  EventName                       540 non-null    object
 29  Shape__Length                   1541 non-null   float64
dtypes: float64(11), int64(1), object(18)
memory usage: 361.3+ KB

In [95]:
df.describe()

,OBJECTID,YEAR,RoadClosureHours,MinsUntilTide,NearestHighLowTide,MaxTide,Closest6MinTideHeight,MoonPhase,DailyPrecipitation_Downtown,Fastest2minWindDir_Dwntwn,Fastest2minWindSpeed_Dwntwn,Shape__Length
count,1541.000000,1515.000000,1.311000e+03,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1501.000000,1501.000000,1541.000000
mean,771.000000,2018.505611,-1.770030e+04,25.206077,5.877118,7.577060,5.713112,0.452133,2.366070,108.607595,24.574550,409.176735
std,444.992697,2.828509,4.832060e+05,106.097605,2.867795,1.175411,2.344570,0.304593,2.235607,105.263447,10.054555,561.013576
min,1.000000,1970.000000,-1.594502e+07,-265.000000,-1.157000,5.005000,-1.144000,0.010000,0.000000,10.000000,6.900000,1.194350
25%,386.000000,2016.000000,2.000000e+00,-43.000000,4.237000,6.852000,4.244750,0.170000,0.280000,20.000000,17.000000,147.599831
50%,771.000000,2019.000000,5.000000e+00,24.000000,6.980000,7.577000,6.429000,0.425000,2.040000,80.000000,21.000000,267.355057
75%,1156.000000,2021.000000,1.100000e+01,96.000000,7.849000,8.158000,7.542500,0.690000,3.840000,160.000000,34.000000,477.264274
max,1541.000000,2022.000000,4.255620e+05,348.000000,9.854000,9.854000,9.746000,1.000000,9.250000,360.000000,42.900000,9001.293194

In [96]:
#import real estate data
df_real1 = pd.read_csv('Real29401.csv')
df_real2 = pd.read_csv('Real29403.csv')
df_real1.head()
df_real2.head()

,List Number,Agency Name,Agency Phone,Listing Agent,Co-Listing Agent,Property Type,Card Format,Book Section,Selling Agency,Selling Agent,...,Auction,Special Assessment,Sub-Agency Accepted,Variable Comp,Start Showing Date,Other Structures Y/N,Photo URL,Days on Market,Rooms,Features
0,21009416,"William Means Real Estate, LLC (1318)",(843) 577-6651,Georgia Bell,NaN,Residential,Residential,Single Family Attached,Carolina One Real Estate (1579),Christopher Carrara,...,NaN,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202104...,34,NaN,Amenities|Cable TV|Yes;Cooling|Central Air|Yes...
1,22016063,Disher Hamrick & Myers Res Inc (1453),(843) 577-4115,Joyce King,NaN,Residential,Residential,Single Family Attached,Disher Hamrick & Myers Res Inc (1453),Joyce King,...,NaN,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202206...,0,NaN,Cooling|Central Air|Yes;Equipment/Appliances|C...
2,16013753,The Cassina Group (9307),(843) 628-0008,Elizabeth Ramsay Dickinson,NaN,Residential,Residential,Single Family Attached,Carolina One Real Estate (1188),Geri Lipps,...,NaN,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/201605...,57,NaN,Amenities|Exercise Area|Yes;Cooling|Central Ai...
3,21011183,Brand Name Real Estate (8052),(843) 532-9133,James Schiller,NaN,Residential,Residential,Other,Coldwell Banker Realty (7834),Kristina Gaidamovic,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202104...,75,NaN,Amenities|Gated|Yes;Amenities|Marina|Yes;Other...
4,21002443,Carriage Properties LLC (7716),(843) 266-8000,Barry Kalinsky,NaN,Residential,Residential,Single Family Attached,Carolina One Real Estate (1189),"Renee A Meyer, Broker Associate",...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202101...,76,NaN,Cooling|Central Air|Yes;Equipment/Appliances|D...

In [97]:
df_real1.shape, df_real2.shape

((2885, 103), (2680, 103))

In [98]:
#merge two real estate data files together (had to download separately)

df_real = pd.concat([df_real1, df_real2],axis=0)

df_real

,List Number,Agency Name,Agency Phone,Listing Agent,Co-Listing Agent,Property Type,Card Format,Book Section,Selling Agency,Selling Agent,...,Auction,Special Assessment,Sub-Agency Accepted,Variable Comp,Start Showing Date,Other Structures Y/N,Photo URL,Days on Market,Rooms,Features
0,15026955,Harbourtowne Real Estate (1118),(843) 884-2826,Christopher Watson,NaN,Residential,Residential,Single Family Attached,Harbourtowne Real Estate (1118),Christopher Watson,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/201510...,17,NaN,Equipment/Appliances|Dishwasher|Yes;Equipment/...
1,15013197,Carolina One Real Estate (1401),(843) 884-1622,Chip Aydlette,Chuck Aydlette,Residential,Residential,Single Family Detached,NON MEMBER (9999),NON MEMBER,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/201505...,210,NaN,Amenities|Bus Line|Yes;Amenities|Trash|Yes;Ame...
2,16010281,BHHS Carolina Sun Real Estate (8169),(843) 388-8118,Nathan Guerttman,NaN,Residential,Residential,Single Family Detached,AgentOwned Preferred Group (1832),Leigh Brandenburg,...,N,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/201604...,0,NaN,Equipment/Appliances|Dishwasher|Yes;Equipment/...
3,16022140,Carolina One Real Estate (1189),(843) 886-8110,Mac Jenkinson,BETH G MOORE,Residential,Residential,Single Family Attached,Jordan Realty (8910),Robert Jordan,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/201608...,4,NaN,Amenities|Bus Line|Yes;Cooling|Central Air|Yes...
4,21016608,AgentOwned Preferred Group (1832),(843) 884-7300,Ruth Faure,NaN,Residential,Residential,Single Family Detached,DreamVest Realty (8125),Shane Langdale,...,NaN,N,N,Y,NaN,NaN,NaN,0,NaN,Exterior|Brick - Veneer|Yes;Exterior|Wood Sidi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2675,22026410,"Handsome Properties, Inc. (8609)",(843) 727-6460,LeGrand Elebash,NaN,Residential,Residential,Single Family Detached,iSave Realty (8437),Randal Longo,...,N,NaN,N,Y,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202210...,47,NaN,Cooling|Central Air|Yes;Cooling|Other|Yes;Equi...
2676,22030562,"William Means Real Estate, LLC (8454)",(843) 375-4800,Etta Connolly,NaN,Residential,Residential,Single Family Detached,"The Brokerage, LLC (8891)",John Teffeau,...,N,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202212...,40,NaN,Cooling|Central Air|Yes;Cooling|Other|Yes;Equi...
2677,23001054,"The Brokerage, LLC (8891)",(843) 364-6720,John Teffeau,David Seay,Residential,Residential,Single Family Attached,Better Homes And Gardens Real Estate Palmetto ...,Suzie Bedore,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202301...,6,NaN,Amenities|Cable TV|Yes;Amenities|Storage|Yes;A...
2678,23005752,Carolina One Real Estate (1579),(843) 577-0001,Theresa Evans,NaN,Residential,Residential,Single Family Detached,"William Means Real Estate, LLC (1318)",Lyles Geer,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202303...,0,NaN,Amenities|Trash|Yes;Cooling|Central Air|Yes;Eq...
2679,23005911,"William Means Real Estate, LLC (8454)",(843) 375-4800,Michelle McQuillan,NaN,Residential,Residential,Single Family Detached,"Dana Properties, LLC (1433)",Marco Romano,...,NaN,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202303...,0,NaN,SF Detached Style|Charleston Single|Yes;Assuma...

In [99]:
df_real2.tail() #check to make sure they merged

,List Number,Agency Name,Agency Phone,Listing Agent,Co-Listing Agent,Property Type,Card Format,Book Section,Selling Agency,Selling Agent,...,Auction,Special Assessment,Sub-Agency Accepted,Variable Comp,Start Showing Date,Other Structures Y/N,Photo URL,Days on Market,Rooms,Features
2675,22026410,"Handsome Properties, Inc. (8609)",(843) 727-6460,LeGrand Elebash,NaN,Residential,Residential,Single Family Detached,iSave Realty (8437),Randal Longo,...,N,NaN,N,Y,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202210...,47,NaN,Cooling|Central Air|Yes;Cooling|Other|Yes;Equi...
2676,22030562,"William Means Real Estate, LLC (8454)",(843) 375-4800,Etta Connolly,NaN,Residential,Residential,Single Family Detached,"The Brokerage, LLC (8891)",John Teffeau,...,N,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202212...,40,NaN,Cooling|Central Air|Yes;Cooling|Other|Yes;Equi...
2677,23001054,"The Brokerage, LLC (8891)",(843) 364-6720,John Teffeau,David Seay,Residential,Residential,Single Family Attached,Better Homes And Gardens Real Estate Palmetto ...,Suzie Bedore,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202301...,6,NaN,Amenities|Cable TV|Yes;Amenities|Storage|Yes;A...
2678,23005752,Carolina One Real Estate (1579),(843) 577-0001,Theresa Evans,NaN,Residential,Residential,Single Family Detached,"William Means Real Estate, LLC (1318)",Lyles Geer,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202303...,0,NaN,Amenities|Trash|Yes;Cooling|Central Air|Yes;Eq...
2679,23005911,"William Means Real Estate, LLC (8454)",(843) 375-4800,Michelle McQuillan,NaN,Residential,Residential,Single Family Detached,"Dana Properties, LLC (1433)",Marco Romano,...,NaN,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202303...,0,NaN,SF Detached Style|Charleston Single|Yes;Assuma...

In [100]:
df_real.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5565 entries, 0 to 2679
Columns: 103 entries, List Number to Features
dtypes: float64(27), int64(7), object(69)
memory usage: 4.4+ MB

In [101]:
df_real.dtypes

List Number               int64
Agency Name              object
Agency Phone             object
Listing Agent            object
Co-Listing Agent         object
                         ...
Other Structures Y/N    float64
Photo URL                object
Days on Market            int64
Rooms                   float64
Features                 object
Length: 103, dtype: object

In [102]:
#create new index so all entries have unique index number
df_real = df_real.reset_index(drop=True)
df_real.tail()

,List Number,Agency Name,Agency Phone,Listing Agent,Co-Listing Agent,Property Type,Card Format,Book Section,Selling Agency,Selling Agent,...,Auction,Special Assessment,Sub-Agency Accepted,Variable Comp,Start Showing Date,Other Structures Y/N,Photo URL,Days on Market,Rooms,Features
5560,22026410,"Handsome Properties, Inc. (8609)",(843) 727-6460,LeGrand Elebash,NaN,Residential,Residential,Single Family Detached,iSave Realty (8437),Randal Longo,...,N,NaN,N,Y,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202210...,47,NaN,Cooling|Central Air|Yes;Cooling|Other|Yes;Equi...
5561,22030562,"William Means Real Estate, LLC (8454)",(843) 375-4800,Etta Connolly,NaN,Residential,Residential,Single Family Detached,"The Brokerage, LLC (8891)",John Teffeau,...,N,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202212...,40,NaN,Cooling|Central Air|Yes;Cooling|Other|Yes;Equi...
5562,23001054,"The Brokerage, LLC (8891)",(843) 364-6720,John Teffeau,David Seay,Residential,Residential,Single Family Attached,Better Homes And Gardens Real Estate Palmetto ...,Suzie Bedore,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202301...,6,NaN,Amenities|Cable TV|Yes;Amenities|Storage|Yes;A...
5563,23005752,Carolina One Real Estate (1579),(843) 577-0001,Theresa Evans,NaN,Residential,Residential,Single Family Detached,"William Means Real Estate, LLC (1318)",Lyles Geer,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202303...,0,NaN,Amenities|Trash|Yes;Cooling|Central Air|Yes;Eq...
5564,23005911,"William Means Real Estate, LLC (8454)",(843) 375-4800,Michelle McQuillan,NaN,Residential,Residential,Single Family Detached,"Dana Properties, LLC (1433)",Marco Romano,...,NaN,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202303...,0,NaN,SF Detached Style|Charleston Single|Yes;Assuma...

In [103]:
#create working copy
dfwork_real = df_real.copy()
dfwork_real.tail()

,List Number,Agency Name,Agency Phone,Listing Agent,Co-Listing Agent,Property Type,Card Format,Book Section,Selling Agency,Selling Agent,...,Auction,Special Assessment,Sub-Agency Accepted,Variable Comp,Start Showing Date,Other Structures Y/N,Photo URL,Days on Market,Rooms,Features
5560,22026410,"Handsome Properties, Inc. (8609)",(843) 727-6460,LeGrand Elebash,NaN,Residential,Residential,Single Family Detached,iSave Realty (8437),Randal Longo,...,N,NaN,N,Y,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202210...,47,NaN,Cooling|Central Air|Yes;Cooling|Other|Yes;Equi...
5561,22030562,"William Means Real Estate, LLC (8454)",(843) 375-4800,Etta Connolly,NaN,Residential,Residential,Single Family Detached,"The Brokerage, LLC (8891)",John Teffeau,...,N,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202212...,40,NaN,Cooling|Central Air|Yes;Cooling|Other|Yes;Equi...
5562,23001054,"The Brokerage, LLC (8891)",(843) 364-6720,John Teffeau,David Seay,Residential,Residential,Single Family Attached,Better Homes And Gardens Real Estate Palmetto ...,Suzie Bedore,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202301...,6,NaN,Amenities|Cable TV|Yes;Amenities|Storage|Yes;A...
5563,23005752,Carolina One Real Estate (1579),(843) 577-0001,Theresa Evans,NaN,Residential,Residential,Single Family Detached,"William Means Real Estate, LLC (1318)",Lyles Geer,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202303...,0,NaN,Amenities|Trash|Yes;Cooling|Central Air|Yes;Eq...
5564,23005911,"William Means Real Estate, LLC (8454)",(843) 375-4800,Michelle McQuillan,NaN,Residential,Residential,Single Family Detached,"Dana Properties, LLC (1433)",Marco Romano,...,NaN,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202303...,0,NaN,SF Detached Style|Charleston Single|Yes;Assuma...

In [104]:
list(dfwork_real)

['List Number',
 'Agency Name',
 'Agency Phone',
 'Listing Agent',
 'Co-Listing Agent',
 'Property Type',
 'Card Format',
 'Book Section',
 'Selling Agency',
 'Selling Agent',
 'Co-Selling Agent',
 'End Date',
 'Sub-Type',
 'MLS List Date',
 'Sold Date',
 'Contract Ratification Date',
 'Fallthrough Date',
 'Status',
 'Status Change Date',
 'Withdrawal Date',
 'Cancel Date',
 'Contingent',
 'Original List Price',
 'List Price',
 'Sold Price',
 'Buyers Agency Compensation',
 'Seller Concessions',
 'Area',
 'Street #',
 'Dir',
 'Street Name',
 'Unit #',
 'Street Suffix',
 'City',
 'State',
 'County',
 'Zip Code',
 'Apx. SqFt',
 'Year Built',
 'Lot Size',
 'Acreage',
 'Buyers Agency Compensation Type',
 'Regime Fee',
 'Limited Service',
 'Stories',
 '# Units',
 'Bedrooms',
 'Baths - Total',
 'Baths - Full',
 'Baths - Half',
 'Taxes',
 'Subdivision',
 'Public Remarks',
 'Tax Map #',
 'Directions',
 'Owner Name',
 'Subsection',
 'mod_timestamp',
 'Elementary School',
 'Middle School',
 'High School',
 'Tax District',
 'HOA Frequency',
 'ADSYN',
 'Auction Type',
 'New Mortgage Type',
 'Type of Agency/Brokerage Relationship',
 'Regime Fee Freq',
 'Comp',
 'Other Contact',
 'Other Phone',
 'HOA $',
 'Reserve Amount',
 'Regime Fee $',
 'Auction License #',
 'Amount Paid',
 'List Price/SqFt',
 'Sold Price/SqFt',
 'Auction Date',
 'Off Market Date',
 'Contingency Reason',
 'Sold Only Notes',
 'Notes',
 'Legal Description',
 'Seller Conc Notes',
 'Ownership',
 'Sold Only',
 'Ground Level',
 'Potential Short Sale',
 'C/R',
 'Lease Purchase',
 'HOA Fee',
 'Prospect Excl',
 'Auction',
 'Special Assessment',
 'Sub-Agency Accepted',
 'Variable Comp',
 'Start Showing Date',
 'Other Structures Y/N',
 'Photo URL',
 'Days on Market',
 'Rooms',
 'Features']

In [105]:
#select only columns I need from data frame
dfwork_real = dfwork_real[['MLS List Date',
 'Sold Date','Original List Price',
 'List Price',
 'Sold Price',
 'Street #',
 'Dir',
 'Street Name',
 'Street Suffix',
'Days on Market']]
dfwork_real.head()

,MLS List Date,Sold Date,Original List Price,List Price,Sold Price,Street #,Dir,Street Name,Street Suffix,Days on Market
0,10/20/2015,12/18/2015,274900.0,229900,222000.0,370,N,Nassau,Street,17
1,5/19/2015,7/14/2017,250000.0,200000,152000.0,281,NaN,Coming,Street,210
2,4/18/2016,5/26/2016,273000.0,273000,250000.0,29,NaN,Moultrie,Street,0
3,8/18/2016,10/25/2016,299000.0,299000,290000.0,3.5,NaN,Kracke,Street,4
4,6/19/2021,6/14/2021,270000.0,270000,270000.0,721,NaN,Meeting,Street,0

In [106]:
#rename columns so no spaces in names
dfwork_real.rename(columns={'MLS List Date':'list_date',
 'Sold Date':'sold_date','Original List Price':'OGlist_price',
 'List Price':'list_price',
 'Sold Price':'sold_price',
 'Street #':'street_num',
 'Street Name':'street_name',
 'Unit #':'unit_num',
 'Street Suffix':'street_suf',
 'Zip Code':'zipcode','Days on Market':'DOM'},inplace=True)
list(dfwork_real)

['list_date',
 'sold_date',
 'OGlist_price',
 'list_price',
 'sold_price',
 'street_num',
 'Dir',
 'street_name',
 'street_suf',
 'DOM']

In [107]:
#use random forest on model

In [108]:
#create working copy of flood data
dfwork = df.copy()
dfwork.tail()

,OBJECTID,IS_DRILL,STREET,REASON,TYPE,SOURCE,RoadClosureDate,RoadClosureEnd,INCIDENT_DATE,YEAR,...,MoonPhaseDesc,DailyPrecipitation_Downtown,DailyPrecipitationCat_Downtown,Fastest2minWindDir_Dwntwn,Fastest2minWindSpeed_Dwntwn,Fastest2minWindDirDesc_Dwntwn,FloodReason_6MIN,FloodReason_Day,EventName,Shape__Length
1536,1537,NaN,WASHINGTON ST,FLOOD,CLOSED,Charleston PD,2022/12/22 08:23:41+00,2022/12/22 11:00:00+00,2022/12/22,2022.0,...,Other Moon,0.45,"<1""",20.0,15.0,NE,High Tide / No Rain,High Tide / No Rain,NaN,89.686863
1537,1538,NaN,BARRE ST,FLOOD,CLOSED,Charleston PD,2022/12/22 09:25:22+00,2022/12/22 11:00:00+00,2022/12/22,2022.0,...,Other Moon,0.45,"<1""",20.0,15.0,NE,Low Tide / No Rain,High Tide / No Rain,NaN,293.776973
1538,1539,NaN,GADSDEN ST,FLOOD,CLOSED,Charleston PD,2022/12/22 09:26:48+00,2022/12/22 11:00:00+00,2022/12/22,2022.0,...,Other Moon,0.45,"<1""",20.0,15.0,NE,Low Tide / No Rain,High Tide / No Rain,NaN,298.640552
1539,1540,NaN,WENTWORTH ST,FLOOD,CLOSED,Charleston PD,2022/12/22 09:27:24+00,2022/12/22 11:00:00+00,2022/12/22,2022.0,...,Other Moon,0.45,"<1""",20.0,15.0,NE,Low Tide / No Rain,High Tide / No Rain,NaN,145.531872
1540,1541,NaN,BULL,FLOOD,CLOSED,Charleston PD,2022/12/22 09:41:26+00,2022/12/22 09:44:18+00,2022/12/22,2022.0,...,Other Moon,0.45,"<1""",20.0,15.0,NE,Low Tide / No Rain,High Tide / No Rain,NaN,168.056869

In [109]:
#Preprocess flood data for flood prediction
dfwork.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   OBJECTID                        1541 non-null   int64
 1   IS_DRILL                        136 non-null    object
 2   STREET                          1540 non-null   object
 3   REASON                          1541 non-null   object
 4   TYPE                            1541 non-null   object
 5   SOURCE                          1540 non-null   object
 6   RoadClosureDate                 1515 non-null   object
 7   RoadClosureEnd                  1335 non-null   object
 8   INCIDENT_DATE                   1515 non-null   object
 9   YEAR                            1515 non-null   float64
 10  RoadClosureHours                1311 non-null   float64
 11  CommuteHours                    1541 non-null   object
 12  TideDate                        1514 non-null   object
 13  MinsUntilTide                   1514 non-null   float64
 14  FloodRisk                       1514 non-null   object
 15  NearestHighLowTide              1514 non-null   float64
 16  MaxTide                         1514 non-null   float64
 17  TideType                        1514 non-null   object
 18  Closest6MinTideHeight           1514 non-null   float64
 19  MoonPhase                       1514 non-null   float64
 20  MoonPhaseDesc                   1541 non-null   object
 21  DailyPrecipitation_Downtown     1514 non-null   float64
 22  DailyPrecipitationCat_Downtown  1514 non-null   object
 23  Fastest2minWindDir_Dwntwn       1501 non-null   float64
 24  Fastest2minWindSpeed_Dwntwn     1501 non-null   float64
 25  Fastest2minWindDirDesc_Dwntwn   1541 non-null   object
 26  FloodReason_6MIN                1541 non-null   object
 27  FloodReason_Day                 1541 non-null   object
 28  EventName                       540 non-null    object
 29  Shape__Length                   1541 non-null   float64
dtypes: float64(11), int64(1), object(18)
memory usage: 361.3+ KB

In [110]:
#select only columns I need from data frame
dfwork = dfwork [['STREET','RoadClosureDate','INCIDENT_DATE','TideType','MoonPhase','MoonPhaseDesc','DailyPrecipitation_Downtown'
                 ,'DailyPrecipitationCat_Downtown']]
dfwork.head()

,STREET,RoadClosureDate,INCIDENT_DATE,TideType,MoonPhase,MoonPhaseDesc,DailyPrecipitation_Downtown,DailyPrecipitationCat_Downtown
0,SEPTIMA P CLARK PKWY,NaN,NaN,NaN,NaN,Other Moon,NaN,NaN
1,HAGOOD AVE,NaN,NaN,NaN,NaN,Other Moon,NaN,NaN
2,COUNCIL ST,NaN,NaN,NaN,NaN,Other Moon,NaN,NaN
3,BEAUFAIN ST,NaN,NaN,NaN,NaN,Other Moon,NaN,NaN
4,FISHBURNE ST,NaN,NaN,NaN,NaN,Other Moon,NaN,NaN

In [111]:
dfwork.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   STREET                          1540 non-null   object
 1   RoadClosureDate                 1515 non-null   object
 2   INCIDENT_DATE                   1515 non-null   object
 3   TideType                        1514 non-null   object
 4   MoonPhase                       1514 non-null   float64
 5   MoonPhaseDesc                   1541 non-null   object
 6   DailyPrecipitation_Downtown     1514 non-null   float64
 7   DailyPrecipitationCat_Downtown  1514 non-null   object
dtypes: float64(2), object(6)
memory usage: 96.4+ KB