In [1]:
import pandas as pd

In [2]:
#import flood data
df = pd.read_csv('History_Flood_Closures_with_Conditions.csv')
df.head()

,OBJECTID,IS_DRILL,STREET,REASON,TYPE,SOURCE,RoadClosureDate,RoadClosureEnd,INCIDENT_DATE,YEAR,...,MoonPhaseDesc,DailyPrecipitation_Downtown,DailyPrecipitationCat_Downtown,Fastest2minWindDir_Dwntwn,Fastest2minWindSpeed_Dwntwn,Fastest2minWindDirDesc_Dwntwn,FloodReason_6MIN,FloodReason_Day,EventName,Shape__Length
0,1,NaN,SEPTIMA P CLARK PKWY,FLOOD,CLOSED,Charleston PD,NaN,2017/09/12 03:45:00+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,5.971635
1,2,No,HAGOOD AVE,FLOOD,CLOSED,Charleston PD,NaN,2019/12/24 06:00:00+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,393.033425
2,3,NaN,COUNCIL ST,FLOOD,CLOSED,Charleston PD,NaN,2022/09/30 17:33:14+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,213.176533
3,4,NaN,BEAUFAIN ST,FLOOD,CLOSED,Charleston PD,NaN,2022/10/06 20:00:00+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,275.774018
4,5,NaN,FISHBURNE ST,FLOOD,CLOSED,Charleston PD,NaN,2019/02/20 10:00:00+00,NaN,NaN,...,Other Moon,NaN,NaN,NaN,NaN,N,Low Tide / No Rain,Low Tide / No Rain,NaN,552.914147

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541 entries, 0 to 1540
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   OBJECTID                        1541 non-null   int64
 1   IS_DRILL                        136 non-null    object
 2   STREET                          1540 non-null   object
 3   REASON                          1541 non-null   object
 4   TYPE                            1541 non-null   object
 5   SOURCE                          1540 non-null   object
 6   RoadClosureDate                 1515 non-null   object
 7   RoadClosureEnd                  1335 non-null   object
 8   INCIDENT_DATE                   1515 non-null   object
 9   YEAR                            1515 non-null   float64
 10  RoadClosureHours                1311 non-null   float64
 11  CommuteHours                    1541 non-null   object
 12  TideDate                        1514 non-null   object
 13  MinsUntilTide                   1514 non-null   float64
 14  FloodRisk                       1514 non-null   object
 15  NearestHighLowTide              1514 non-null   float64
 16  MaxTide                         1514 non-null   float64
 17  TideType                        1514 non-null   object
 18  Closest6MinTideHeight           1514 non-null   float64
 19  MoonPhase                       1514 non-null   float64
 20  MoonPhaseDesc                   1541 non-null   object
 21  DailyPrecipitation_Downtown     1514 non-null   float64
 22  DailyPrecipitationCat_Downtown  1514 non-null   object
 23  Fastest2minWindDir_Dwntwn       1501 non-null   float64
 24  Fastest2minWindSpeed_Dwntwn     1501 non-null   float64
 25  Fastest2minWindDirDesc_Dwntwn   1541 non-null   object
 26  FloodReason_6MIN                1541 non-null   object
 27  FloodReason_Day                 1541 non-null   object
 28  EventName                       540 non-null    object
 29  Shape__Length                   1541 non-null   float64
dtypes: float64(11), int64(1), object(18)
memory usage: 361.3+ KB

In [4]:
df.describe()

,OBJECTID,YEAR,RoadClosureHours,MinsUntilTide,NearestHighLowTide,MaxTide,Closest6MinTideHeight,MoonPhase,DailyPrecipitation_Downtown,Fastest2minWindDir_Dwntwn,Fastest2minWindSpeed_Dwntwn,Shape__Length
count,1541.000000,1515.000000,1.311000e+03,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1514.000000,1501.000000,1501.000000,1541.000000
mean,771.000000,2018.505611,-1.770030e+04,25.206077,5.877118,7.577060,5.713112,0.452133,2.366070,108.607595,24.574550,409.176735
std,444.992697,2.828509,4.832060e+05,106.097605,2.867795,1.175411,2.344570,0.304593,2.235607,105.263447,10.054555,561.013576
min,1.000000,1970.000000,-1.594502e+07,-265.000000,-1.157000,5.005000,-1.144000,0.010000,0.000000,10.000000,6.900000,1.194350
25%,386.000000,2016.000000,2.000000e+00,-43.000000,4.237000,6.852000,4.244750,0.170000,0.280000,20.000000,17.000000,147.599831
50%,771.000000,2019.000000,5.000000e+00,24.000000,6.980000,7.577000,6.429000,0.425000,2.040000,80.000000,21.000000,267.355057
75%,1156.000000,2021.000000,1.100000e+01,96.000000,7.849000,8.158000,7.542500,0.690000,3.840000,160.000000,34.000000,477.264274
max,1541.000000,2022.000000,4.255620e+05,348.000000,9.854000,9.854000,9.746000,1.000000,9.250000,360.000000,42.900000,9001.293194

In [9]:
#import real estate data
df_real1 = pd.read_csv('Real29401.csv')
df_real2 = pd.read_csv('Real29403.csv')
df_real1.head()
df_real2.head()

,List Number,Agency Name,Agency Phone,Listing Agent,Co-Listing Agent,Property Type,Card Format,Book Section,Selling Agency,Selling Agent,...,Auction,Special Assessment,Sub-Agency Accepted,Variable Comp,Start Showing Date,Other Structures Y/N,Photo URL,Days on Market,Rooms,Features
0,21009416,"William Means Real Estate, LLC (1318)",(843) 577-6651,Georgia Bell,NaN,Residential,Residential,Single Family Attached,Carolina One Real Estate (1579),Christopher Carrara,...,NaN,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202104...,34,NaN,Amenities|Cable TV|Yes;Cooling|Central Air|Yes...
1,22016063,Disher Hamrick & Myers Res Inc (1453),(843) 577-4115,Joyce King,NaN,Residential,Residential,Single Family Attached,Disher Hamrick & Myers Res Inc (1453),Joyce King,...,NaN,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202206...,0,NaN,Cooling|Central Air|Yes;Equipment/Appliances|C...
2,16013753,The Cassina Group (9307),(843) 628-0008,Elizabeth Ramsay Dickinson,NaN,Residential,Residential,Single Family Attached,Carolina One Real Estate (1188),Geri Lipps,...,NaN,NaN,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/201605...,57,NaN,Amenities|Exercise Area|Yes;Cooling|Central Ai...
3,21011183,Brand Name Real Estate (8052),(843) 532-9133,James Schiller,NaN,Residential,Residential,Other,Coldwell Banker Realty (7834),Kristina Gaidamovic,...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202104...,75,NaN,Amenities|Gated|Yes;Amenities|Marina|Yes;Other...
4,21002443,Carriage Properties LLC (7716),(843) 266-8000,Barry Kalinsky,NaN,Residential,Residential,Single Family Attached,Carolina One Real Estate (1189),"Renee A Meyer, Broker Associate",...,N,N,N,N,NaN,NaN,http://cdn.photos.sparkplatform.com/chs/202101...,76,NaN,Cooling|Central Air|Yes;Equipment/Appliances|D...